body {
    font-family: -apple-system, BlinkMacSystemFont,
                 "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    color: #111;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    line-height: 1.7;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.4em;
}


a {
    color: #0645ad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    background: rgba(255, 255, 255, 0.87);
    padding: 30px;
}

@media (max-width: 768px) {
    .content {
        padding: 20px;
    }

    body {
        font-size: 20px;
    }
    h1 {
        font-size: 2.4em;
    }

    h2 {
        font-size: 1.6em;
    }
}

