body {
    font-family: serif;
    max-width: 800px;
    margin: 40px auto;
    color: #111;
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 18px;
    line-height: 1.7;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.4em;
}


a {
    color: #0645ad;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
}
